#header-wrap {
  position: fixed;
  height: auto;
  width: 100%;
  z-index: 100;
  text-size: 16px;
  background-color: #efefef;
  padding: 1px;
}


.li {
  display: inline;
  margin-right: 10px;
  z-index: 2;
}


#submitBtn {
  height: 50px;
  width: 120px;
  background-color: green;
  z-index: 2;
}


#submitBtnHeader {
  height: 20px;
  width: 120px;
  background-color: green;
  z-index: 2;
}


#clearBtnHeader {
  height: 20px;
  width: 120px;
  background-color: red;
  z-index: 2;
  align-items: right;
}


label {
  line-height: 1.7em;
  text-size: 100%;
  z-index: 2;
}


p {
  line-height: 1.7em;
  text-size: 100%;
  z-index: 2;
}


body {
  color: black;
  background-image: url("../images/dep_large_beige.jpg");
  background-position: 100px 100px;
  background-attachment: fixed;
  background-size: cover;
  background-color: #d4d0c6;
  font-family: Arial, "Times New Roman", serif;
  padding-top: 5px;
  z-index: 2;
}

.hint {
  font-weight: normal;
  color: #1A741A;
  margin-left: 10px;
}

.error {
  font-weight: normal;
  color: red;
  margin-left: 10px;
}